# basic
node_modules
dist
.env*

# logs and reports
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
.eslintcache
.cache
*.tsbuildinfo

# release
CHANGELOG.md
kiset.config.ts

# misc.
.idea
.vscode
.DS_Store
*.tgz
